<h1>update customers fq data</h1>

<form action="/post" method="post">
  <label for="customer_id">Customer ID</label>
  <input type="text" name="customer_id" value="" />
  <label for="bust">Bust Value</label>
  <input type="text" name="bust" value="" />
  <p>Make sure it is in the form 34 CD; 32 AB; 38 AB; etc.</p>
  <label for="length">Length</label>
  <input type="text" name="length" value="" />
  <label for="waist">Waist</label>
  <input type="text" name="wasit" value="" />
  <input type="submit" name="" value="Submit" id="">
</form>