<div>
  <h1>login below</h1>
  <form id="customer" action="/login" method="post">
    <label for="username">username</label>
    <input class="usermane" type="text" name="username" value="" />
    <label for="end">password</label>
    <input class="password" type="password" name="password" value="" />
    <input class="input" type="submit" name="end" value="login" />
  </form>
</div>