<h1>going to post to see if i can get permanent access?</h1>
<form action="https://quincy.myshopify.com/admin/oauth/access_token?client_id=025e3f7239cb03756f62067cc20c7e43&client_secret=6cec5463b7c5bb8213ed69bb6de64290&code=9d1224bddc89f43d712e60d23e061f8a" method="post">
  <label for="submit">submit</label><input type="submit" name="submit" value="" id="submit"> 
</form>